<div class="footer">
    <div class="copyright">
        <p>ALAYSchool &copy; Designed & Developed by <a href="https://alayschoolgest.ajmdstec.ao" target="_blank">A.J.M.D.S - Soluções Tecnológicas</a> 2023</p>
    </div>
</div>