<!DOCTYPE html>
<html lang="PT-pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>ALAYSchool - @ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png" asp-append-version="true">
    <!-- Pignose Calender -->
    <link href="~/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css" asp-append-version="true">


    <!-- Custom Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
    @* <link href="~/plugins/jquery-steps/css/jquery.steps.css" rel="stylesheet" asp-append-version="true"> *@
    <!--Font Awesome 6.4.2-->
    <link href="~/icons/font-awesome6.4.2/css/all.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/plugins/multiselect/css/multi-select.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <partial name="Partials/_loading" />

    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a asp-area="" asp-controller="Home" asp-action="Dashboard1">
                    <b class="logo-abbr"><img src="~/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <partial name="Partials/_menuTop" />
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <partial name="Partials/_menuLeft" />
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <partial name="Partials/_footer" />
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    @* <script src="~/js/styleSwitcher.js"></script> *@

    <!-- Chartjs -->
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/plugins/d3v3/index.js"></script>
    <script src="~/plugins/topojson/topojson.min.js"></script>
    <script src="~/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    @*  <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/pg-calendar/js/pignose.calendar.min.js"></script> *@
    <!-- ChartistJS -->
    <script src="~/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="~/js/dashboard/dashboard-1.js"></script>


    @*   <script src="~/plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/plugins-init/jquery-steps-init.js"></script> *@


    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/plugins/validation/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts",false)
</body>
</html>
