@page
@model ALAYSchoolManagment.Presentation.IU.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Adicionar";
}


<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h3 class="page-title">Usuários</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page"><a as></a>Usuários</li>
                        <li class="breadcrumb-item active" aria-current="page">Adicionar Novo</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-label">Funcionário</label>
                            <select class="form-select" asp-for="Input.FuncionarioId" asp-items="@Model.Input.funcionarioList">
                                <option disabled="disabled" selected="selected">Selecione o funcionário</option>
                            </select>
                            <span asp-validation-for="Input.FuncionarioId" type="" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-floating col-md-3 mb-3">

                        <div class="form-group">
                            <label class="form-label">Email do Usuário</label>
                            <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" type="" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-label">Senha</label>
                            <input asp-for="Input.Password" type="text" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Senha" />
                            <span asp-validation-for="Input.Password" type="" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-label">Confirmar Senha</label>
                            <input asp-for="Input.ConfirmPassword" type="text" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar Senha" />
                            <span asp-validation-for="Input.ConfirmPassword" type="" class="text-danger"></span>
                        </div>
                    </div>
                    @*   <div class="form-floating col-md-3 mb-3">

                    <div class="form-group">

                    <select class="form-select" asp-for="Input.ModuloId" asp-items="@Model.Input.ModuList">
                    <option disabled="disabled" selected="selected" >Selecione o Módulo</option>
                    </select>
                    <span asp-validation-for="Input.ModuloId" type="" class="text-danger"></span>
                    </div>
                    </div>*@
                    <div class="box-footer">
                        <a asp-action="Matriculados" class="btn btn-danger me-1"><i class="ti-trash"></i> Cancelar</a>
                        <button type="submit" class="btn btn-success"><i class="ti-save-alt"></i> Salvar</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}