@model ALAYSchoolManager.Application.ViewModels.MatriculasViewModel
<section>
    <div class="row">
        <div class=" col-8 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nome</span>
            </div>
            <input asp-for="MatricuAluno.AlunoNomeCompleto" id="txtAlunoNomeCompleto" type="text" class="form-control input-flat" placeholder="Nome completo do aluno">
        </div>
        <div class=" col input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nif</span>
            </div>
            <input asp-for="MatricuAluno.AlunoContribuinte" type="text" id="txtAlunoContribuinte" class="form-control input-flat" placeholder="Número de Contribuinte">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nascimento</span>
            </div>
            <input type="date" asp-for="MatricuAluno.AlunoDataNascimento" class="form-control datepicker" id="txtAlunoDataNascimento" placeholder="Data de Nascimento">
        </div>
        <div class="col-md-3 mt-2 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Genero</span>
            </div>
            <select asp-for="MatricuAluno.AlunoGenero.GeneroId" asp-items="@ViewBag.Generos" id="selectedAlunoGenero" class="form-control">
                <option selected="selected" value="0">Selecione...</option>
            </select>
        </div>
        <div class="col-md-3 mt-2 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Genero</span>
            </div>
            <select asp-for="MatricuAluno.AlunoEstadoCivil.EstadoCivilId" asp-items="ViewBag.estadoCivil" id="SelectedAlunoEstadoCivil" class="form-control">
                <option value="0" selected="selected">Selecione...</option>
            </select>
        </div>
        <div class="col-md-3 mt-2 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Telefone</span>
            </div>
            <input type="tel" asp-for="MatricuAluno.AlunoDataNascimento" class="form-control" id="txtAlunoTelefone" placeholder="Nº Telefone">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col  input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Observações</span>
            </div>
            <textarea asp-for="MatricuAluno.AlunoObservacao" class="form-control"></textarea>
        </div>
    </div>
</section>