@model ALAYSchoolManager.Application.ViewModels.MatriculasViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Obrigatorios</label>
            <select asp-for="EmolumentosObrigatorios" id="EmolumentosObrigatorios" class="select2-container form-control" style="width: 100%;">
                <option value="0" disabled="disabled">Selecione primeiramente o Modulo </option>
            </select>
        </div>
    </div>
    @*
    <div class="col-md-6">
    <div class="form-group">
    <label>Opcionais</label>
    @*  <select asp-for="EmolumentosOpcionais" id="EmolumentosOpcionais" class="multiselect form-control" multiple="multiple" style="width: 100%;">
    <option value="0" disabled="disabled">Selecione primeiramente o Modulo </option>
    </select>
    </div>
    </div>
    </div>  *@



    @*
    <select class="form-control" multiple="multiple" style="width: 100%;">
    <optgroup label="Alaskan/Hawaiian Time Zone">
    <option value="AK">Alaska</option>
    <option value="HI">Hawaii</option>
    </optgroup>
    <optgroup label="Pacific Time Zone">
    <option value="CA">California</option>
    <option value="NV">Nevada</option>
    <option value="OR">Oregon</option>
    <option value="WA">Washington</option>
    </optgroup>
    <optgroup label="Mountain Time Zone">
    <option value="AZ">Arizona</option>
    <option value="CO">Colorado</option>
    <option value="ID">Idaho</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NM">New Mexico</option>
    <option value="ND">North Dakota</option>
    <option value="UT">Utah</option>
    <option value="WY">Wyoming</option>
    </optgroup>
    </select>
    *@
