@using ALAYSchoolManager.Application.ViewModels.Shared
@model ALAYSchoolManager.Application.ViewModels.MatriculasViewModel


<div class="row">
    <div class="col-2 offset-xl-3">
        <div class="row">
            <div class="card-body card-columns">
                @foreach (ModulosViewModel item in Model.MatriculaModulos)
                {
                    <label class="card-radio-btn">
                        @if (item.ModuloId == 1)
                        {
                            @Html.RadioButtonFor(r=>r.MatriculaModuloId,@item.ModuloId,new{ @class = "card-input-element d-none",id="ModCreche"})
                            <div class="card card-body">
                                <div class="content_head font-weight-bold">@item.ModuloDesignacao</div>
                                <i class="fa-solid fa-baby" style="font-size: 500%"></i>
                                <p class="content_sub">para crianças apartir 6 meses</p>
                            </div>
                        }
                        else
                        {
                            @Html.RadioButtonFor(r=>r.MatriculaModuloId,@item.ModuloId,new{ @class = "card-input-element d-none",id="ModCreche"})
                            <div class="card card-body">
                                <div class="content_head font-weight-bold">@item.ModuloDesignacao</div>
                                <i class="fa-solid fa-user-graduate" style="font-size: 500%"></i>
                                <p class="content_sub">para crianças apartir 6 meses</p>
                            </div>
                        }
                    </label>
                }
            </div>
        </div>
    </div>
</div>
