<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1" id="lblResumoAlunoNomeCompleto">Não Identificado</h2><strong id="lblResumoAlunoContribuinte">Não Identificado</strong>
        </div>
        <label class="mb-1">Nascido aos </label>
        <label class="mb-1" id="lblresumoAlunoDataNascimento">00/00/0000</label>,
        <label class="mb-1" id="lblresumoAlunoGenero">Não Identificado</label> e
        <label class="mb-1" id="lblresumoAlunoEstadoCivil">Não Identificado</label>
        <p> <small id="lblresumoAlunoObservacao">Não Identificado</small></p>
    </a>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        Modulo Escolar
        <span class="badge badge-primary badge-pill" id="lblResumoAlunoModulo">Não Selecionado</span>
    </li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        Emolumentos Obrigatorios
        <span class="badge badge-primary badge-pill" id="lblAlunoEmolumentosObrigatorios">Emolumentos Obrigatorios</span>
    </li>
    <li class="list-group-item  d-flex justify-content-between align-items-center">
        Emolumentos Opcionais
        <span class="badge badge-primary badge-pill" id="lblAlunoEmolumentosOpcionais">Emolumentos Opcionais</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Total Obrigatorio
        <span class="badge badge-primary badge-pill" id="lblAlunoTotalEmolumentosObrigatorio">Total Obrigatorio</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Total Opcional
        <span class="badge badge-primary badge-pill" id="lblAlunoTotalEmolumentosOpcionais">Total Opcional</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Total a Pagar (Akz)
        <span class="badge badge-primary badge-pill" id="lblTotalAPagar">Total a Pagar (Akz)</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Forma de Pagamento
        <span class="badge badge-primary badge-pill" id="lblFormaPagamento">Forma de Pagamento</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Dados do Pagamento
        <span class="badge badge-primary badge-pill" id="lblDadosPagamento">Dados do Pagamento</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Total Pago (Akz)
        <span class="badge badge-primary badge-pill" id="lblTotalPago"> Total Pago (Akz)</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Total Pago (Akz)
        <span class="badge badge-primary badge-pill" id="lblTotalPago"> Total Pago (Akz)</span>
    </li>
</div>






